{% extends 'base.html' %}
{% load static %}


{%block content%}

<form class="d-flex" role="search" method="post" action="{% url 'webapp:search' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>


{% for post in posts %}
<a href=" {%url 'webapp:user_selected_profile' post.username.id%} "><div style="color: blueviolet;">{{post.username}}</div></a>
<a href="{% url 'webapp:post_detail' post.id %}">
    <div class="post-card">
    <div class="post-container">
        <img src="{{ post.image.url }}" alt="post_image" srcset="{{ post.image.url }} 320w, {{ post.image.url }} 640w, {{ post.image.url }} 1280w">
        <p class="post-description">{{ post.description }}</p>
    </div>
    </div>  
</a>
{% if post.username == user %}
    <a href="{% url 'webapp:deletephoto' post.id %}" class="btn btn-danger">Delete</a>
{% endif %}
{% endfor %}


{%endblock%}